/* CustomPopover.css */
.custom-popover {
    position: absolute;
    z-index: 999;
    top: 65px; /* Adjust based on the button's position */
    left: 0px;
    width: 100%;
    max-width: 450px;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.10);
    overflow-x: hidden;
  }
  
  .custom-popover-inner {
    background-color: white;
    border-radius: 8px;
    width: 450px; /* Adjust size */
    max-width: 450px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }
  
  .custom-popover-content {
    padding: 10px;
  }
  
  .custom-popover-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
  }
  