
.icon-xs {
    width: 14px;
    height: 14px;
  }
  
  .icon-sm {
  width: 16px;
  height: 16px;
}

.icon-md {
  width: 26px;
  height: 26px;
}

.icon-lg {
  width: 32px;
  height: 32px;
}

.icon-xl {
  width: 36px;
  height: 36px;
}

.icon-xxl {
  width: 60px;
  height: 60px;
}
