
.icon-xs {
    width: 14px;
    height: 14px;
  }
  
  .icon-sm {
  width: 18px;
  height: 18px;
}

.icon-md {
  width: 24px;
  height: 24px;
}

.icon-lg {
  width: 32px;
  height: 32px;
}

.icon-xl {
  width: 48px;
  height: 48px;
}

.icon-xxl {
  width: 60px;
  height: 60px;
}
