.modal-header{
    display: flex;
    align-items: center;
    font-weight: 500;
}
.input-group{
    display: flex;
    justify-content: center;
    
}
.add-prompt-btn-select .ant-select-selector{
    height: 60px;
}
.add-prompt-btn-input{
    height: 60px !important;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #e6eaed;
    padding: 11px 20px;
}
.add-prompt-btn-text-area{
    border-radius: 8px;
    border: 1px solid #e6eaed;
    padding: 11px 20px;
}

.add-prompt-btn-select .ant-select-selection-placeholder{
    font-weight: 500 !important;
    color: #000000 !important;
    font-size: 14px;
}
.modal-content{
    
    max-height: 500px ;
    overflow-y: auto;
    scrollbar-width: none;
}
.input-group-label{
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}
.add-prompt-span{
    font-weight: 500;
}
.add-prompt-span img{
    margin-right: 10px !important;
}
.input-group-input {
    width: 70%;
}
.input-group-input .ant-input-password{

}
.input-group-input .ant-input{

}
.input-group-btn button{
}
.input-group-btn {
    width: 30%;
}
.input-group-btn button{
    width: 100%;
}

.add-prompt-upload-sop-docs{
    border: 1px solid #e6eaed;
    border-radius: 8px;
    padding: 10px;
}

.ant-upload-text{
    text-align: center;
}
.ant-upload-text{
    margin-bottom: 10px;
}
.upload-group{
    margin-bottom: 10px;
}


.modal-field{
    display: flex;
    align-items: center;
}
.modal-field-input-label label{
    margin-bottom: 0px;
}
.modal-field-input{
    display: flex;
    align-items: center;
}
.ant-select{
    margin-bottom: 10px;
}
/* .ant-collapse-item {
    border: 1px solid #e6eaed !important;
    border-radius: 8px !important;
    padding-bottom: 10px !important;

}
.ant-collapse-header{
    border: none !important;
    border-radius: 0px !important;
}
.ant-collapse-header:hover{
    border: none !important;
    border-radius: 0px !important;
}
.ant-collapse-content{
    padding: 0px 10px !important;
    border-top: 1px solid #e6eaed !important;
} */
 /* .robo-marketer-collapse{
    margin-bottom: 10px;
    font-weight: 500;
 } */

.modal-actions button {
  width: 100%;
  padding: 0px 10px;
  height: 52px;
  border: none;
}
.modal-actions .btn-1 {
    width: 49% !important;
    height: 52px !important;
}
.modal-actions .btn-2 {
    width: 49% !important;
    height: 52px !important;

}
.modal-actions .btn-2 button:hover{
    background-color: rgb(39, 39, 39) !important;
}

.modal-actions .btn-1 button:hover{
    background-color: rgb(255, 222, 222) !important;
}


.add-prompt-category-select-btn{
    padding: 10px 20px;
    border-radius: 8px;
    color: black !important;
    text-align: center;
    background-color: transparent;
    border: 1px solid #e6eaed;
    font-weight: 500;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    margin-bottom: 10px;
}

.select-category-popup p{
    font-weight: 600;
    border-bottom: 1px solid #e6eaed;
    padding-bottom: 10px;
color: var(--color-dark);
}

.select-category-popup-btn{
    width: 100%;
    background-color: transparent;
    border: 1px solid #e6eaed;
    border-radius: 8px;
    padding: 10px 20px;
    text-align: start;

    font-weight:600;
    color: black !important;
}
.select-category-popup{
    /* width: 300px; */
}
.category-btn{
    background-color: transparent;
    border: 1px solid #e6eaed;
    border-radius: 8px;
    padding: 10px 10px;
    text-align: left;
    font-weight: 600;
    color: black !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}
.category-btn-icons img{
    padding: 4px ;
    border: 1px solid #e6eaed;
    border-radius: 4px;
    margin-left: 4px;
    width: 20px;
}   
.category-name-input{
    height: 40px;
    margin-bottom: 0px !important;
}
.category-name{
    width: 200px;
    cursor: pointer;
}