.modal-header{
    display: flex;
    align-items: center;
    font-weight: 500;
}
.input-group{
    display: flex;
    justify-content: center;
    
}
.input-group-label{
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}
.input-group-input {
    width: 70%;
    height: 40px !important;
}
.input-group-input .ant-input-password{
    height: 40px !important;

}
.input-group-input .ant-input{
    height: 40px !important;

}
.input-group-btn button{
    height: 40px;
}
.input-group-btn {
    width: 30%;
    height: 40px !important;
}
.input-group-btn button{
    width: 100%;
}



.ant-upload-text{
    text-align: center;
}
.ant-upload-text{
    margin-bottom: 10px;
}
.upload-group{
    margin-bottom: 10px;
}


.modal-field{
    display: flex;
    align-items: center;
}
.modal-field-input-label label{
    margin-bottom: 0px;
}
.modal-field-input{
    display: flex;
    align-items: center;
}
.ant-select-selector , .ant-select{
    height: 45px !important;
    
}
.ant-select{
    margin-bottom: 10px;
}
/* .ant-collapse-item {
    border: 1px solid #e6eaed !important;
    border-radius: 8px !important;
    padding-bottom: 10px !important;

}
.ant-collapse-header{
    border: none !important;
    border-radius: 0px !important;
}
.ant-collapse-header:hover{
    border: none !important;
    border-radius: 0px !important;
}
.ant-collapse-content{
    padding: 0px 10px !important;
    border-top: 1px solid #e6eaed !important;
} */
 /* .robo-marketer-collapse{
    margin-bottom: 10px;
    font-weight: 500;
 } */

.modal-actions button {
  width: 100%;
  padding: 0px 10px;
  height: 40px;
  border: none;
}
.modal-actions .btn-1 {
  margin-right: 1% !important;
}
.modal-actions .btn-2 {
  margin-left: 1% !important;
}

.cancel-btn{
    background-color: rgba(250, 52, 52, 0.1);
    color: #FA3434;
}