.left-panel-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  padding: 0px !important;
  border-right: 1px solid #e6eaed;
}
.left-panel-container-inner {
  text-align: center;
  overflow-y: hidden;
}
.left-panel-dropdown {
  width: 100% !important;
  display: flex;
  justify-content: space-between;
}
.add-prompt-btn {
  padding: 10px 12px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  /* margin-bottom: 10px !important; */
}
.add-prompt-span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.panel-header-span {
  display: flex;
  align-items: center !important;
  justify-content: start;
  font-size: 18px;
}
.panel-header-span img {
  margin-right: 15px !important;
}
.add-prompt-span img {
  margin-right: 5px;
}
.left-panel-container-inner .ant-collapse-header {
  padding: 10px 12px !important;
  font-weight: 500 !important;
  background-color: white !important;
  border: 1px solid #e6eaed;
  margin-bottom: 10px;
  height: 40.8px;
  font-family: "Inter", serif;
  border-radius: 8px !important;
}
.left-panel-container-inner .ant-collapse-header:hover {
  background-color: rgb(242, 242, 242) !important;
}
.left-panel-container-inner .ant-collapse {
  border: none !important;
  background-color: white !important;
}
.left-panel-container-inner .ant-collapse-item {
  border-bottom: 0px !important;
}
.left-panel-container-inner .ant-collapse-content {
  border-top: 0px !important;
}
.left-panel-container-inner .ant-collapse-content-box {
  border: none !important;
  padding: 0px !important;
}
.left-panel-logo {
  width: 220px;
}
.left-panel-logo-wrapper {
  width: 100%;
  padding: 25px 15px;
}
.left-panel-collapse-account .ant-collapse-header {
  height: 40px !important;
}
.left-panel-collapse-account .ant-collapse-header{
    padding-top: 10px !important;
    display: flex !important;
    align-items: center !important;
}
.left-panel-btn {
  padding: 10px 8px 10px 12px;
  border: 1px solid #e6eaed !important;
  height: 40.8px;
  width: 100%;
  color: #000000;
  font-family: "Inter", serif;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* .left-panel-btn img {
  margin-right: 10px;
  height: 13px !important;
} */
.side-bar-btn-wrapper {
  padding: 0px 15px;
}
.account-dropdown,
.options-dropdown {
  margin: 15px 0;
}
.left-panel-scrollable {
  flex-grow: 1; 
  overflow-y: auto; 
  padding: 10px 15px ;
  height: calc(100vh - 180px);
  scrollbar-width: none;
}
.left-panel-scrollable .ant-collapse-header{
    padding-top: 10px !important;
    display: flex !important;
    align-items: center !important;
}
.left-panel-scrollable .ant-collapse-expand-icon{
    height: auto !important;
}
.ellipsis {
  margin-left: 8px;
}

.logout-btn {
  width: 100%;
  border: none;
  background-color: transparent;
  padding: 20px 0px;
  color: #575a7b;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #e6eaed;
}
.logout-btn img {
  margin-right: 10px;
}


