.right-panel-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid #e6eaed;
  padding: 0px !important;
  width: 100%;
  height: 100vh; /* Make the right panel take full height of the viewport */
}
.right-panel-refresh-bar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-panel-container-inner {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 25px 12px;
  height: 100%;
  overflow: hidden; /* Prevent the content from overflowing the container */
}

.right-panel-logo {
  width: 70%; /* Reduced width for logo */
  margin: 10px auto 30px auto; /* Space adjustments for logo */
}

.right-panel-btn {
  padding: 10px 12px;
  height: 40px;
  width: 100%;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  font-family: "Inter", serif;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #e6eaed;
}

.add-prompt-btn {
  margin-top: 20px; /* Space between Add Prompt button and other content */
}
.right-panel-collapse{
    z-index: 500 !important;
    margin-bottom: 0px !important;
}
.right-panel-collapse .ant-collapse-item{
    height: 40.96px;
}
.right-panel-collapse .ant-collapse-header{
    height: 40.96px !important;
    margin-bottom: 0px !important;
    padding-top: 7px !important;
}
.right-panel-collapse{
    /* padding-bottom: 10px; */
}
.right-panel-collapse .ant-picker{
    height: 40px !important;
    width: 260px !important;
}
.right-panel-header-span{
    background-color: white;
    border: 1px solid #e6eaed;
    width: 240px;
    border-radius: 8px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 15px ;
}
.right-panel-header-span img{
    margin-right: 5px;
}
.right-panel-collapse .ant-collapse-content{
    padding: 0px 10px 10px 10px !important;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.065));
}
/* Make the remaining content scrollable */
.right-panel-scrollable {
  flex-grow: 1; /* Allows the panel to take up remaining space */
  overflow-y: auto; /* Enable vertical scrolling */
  scrollbar-width: none;
  padding: 10px;
}

/* Style the settings button to be fixed at the bottom */

.right-panel-dropdown {
  width: 100% !important;
  display: flex;
  justify-content: space-between;
}

.panel-header-span {
  display: flex !important;
  align-items: center !important;
  justify-content: start;
  padding-top: 2px;
}
.panel-header-span-16{
    font-size: 16px !important;
}
.panel-header-span-14{
    font-size: 14px !important; 
}
.panel-header-span img {
  margin-right: 10px;
}

.calendar-panel-header-span {
  display: flex;
  align-items: center !important;
  justify-content: start;
  font-size: 16px;
}

.calendar-panel-header-span img {
  margin-right: 10px;
}

.add-prompt-span img {
  margin-right: 5px;
}
.right-panel-container-inner .ant-collapse-header {
  padding: 7px 12px 10px 12px !important;
  font-weight: 500 !important;
  background-color: white !important;
  border: 1px solid #e6eaed;
  margin-bottom: 0px !important;
  height: 40.8px;
  font-family: "Inter", serif;
  border-radius: 8px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.right-panel-refresh-bar .ant-collapse-header{
    
  width: 240px !important;
}
.right-panel-refresh-bar .refresh-btn{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e6eaed;
    border-radius: 8px;
    margin-left: 5px;
    cursor: pointer;
}
.right-panel-refresh-bar
{
    margin-bottom: 10px;
}
.right-panel-container-inner .ant-collapse-header:hover {
  background-color: rgb(242, 242, 242) !important;
}

.right-panel-container-inner .ant-collapse {
  border: none !important;
  background-color: white !important;
}

.right-panel-container-inner .ant-collapse-item {
  border-bottom: 0px !important;
}

.right-panel-container-inner .ant-collapse-content {
  border-top: 0px !important;
}

.right-panel-container-inner .ant-collapse-content-box {
  border: none !important;
  padding: 0px !important;
}
