.card-header-campaign {
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  gap: 1rem;
  /* border-bottom: 1px solid #e5e7eb; */
}
.card-header {
  border: none;
  padding: 10px 16px;
}
.card-campaign {
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  /* padding: 24px; */
  background: white;
}
.view-ads-button{
    width: 170px;
}
.accept-button-all-recommendations {
  height: 40px;
}
.border-b {
  border-bottom: 1px solid #e5e7eb;
}
.border-t {
  border-top: 1px solid #e5e7eb;
}
.space-y-5 > * + * {
  margin-top: 1.25rem;
}

.product-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.iframe-container {
    position: relative;
    width: 100%;            /* Full width of its parent */
    height: 0;              /* Height set to 0 initially */
    padding-bottom: 56.25%; /* Default aspect ratio (16:9) */
    overflow: hidden;
  }
  
  .iframe-container iframe {
    position: absolute;    /* Position absolutely within the container */
    top: 0;
    left: 0;
    width: 100%;            /* Ensure full width */
    height: 100%;           /* Ensure full height */
    object-fit: contain;    /* Makes sure the video content is resized without cropping */
  }
  
.select-mess {
  display: flex;
  align-items: center;
}

.justify-end {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.cursor-poiner {
  cursor: pointer;
}
.text-sm {
  font-size: 0.9rem;
}

.break-words {
  word-break: break-all;
}

.add-data {
  display: flex;
  align-items: center;
  gap: 5px;
}
.show-more-btn {
  background-color: white;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  font-size: 14px;
  padding: 5px 10px;
  margin-top: 5px;
}
.text-start {
  text-align: left !important;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Spinner Styling */
.spinner {
  width: 24px; /* Adjust size */
  height: 24px;
  border: 3px solid rgba(128, 128, 128, 0.3); /* Light blue */
  border-top: 3px solid gray; /* Darker blue */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
}

.text-base {
  font-size: 0.8rem;
}
