.chatgpt-modal-form .ant-input{
margin-bottom: 0px !important;
}
.chatgpt-modal-form{
    margin-bottom: 0px !important;
}
.ant-select{
    height: 50px !important;
}

 .ant-select-selector{
    height: 50px !important;
}
.ant-collapse-content-box{
    max-height: 400px;
    overflow-y: auto;
    scrollbar-width: none;
}
.aimodel-modal-header
{
    color: #000000 !important;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;

}