.chatgpt-modal-form .ant-input{
margin-bottom: 0px !important;
}
.chatgpt-modal-form{
    margin-bottom: 0px !important;
}
.ant-select{
    height: 40px !important;
}

 .ant-select-selector{
    height: 40px !important;
}
.ant-collapse-content-box{
    max-height: 400px;
    overflow-y: auto;
    scrollbar-width: none;
}