.modal-header {
  display: flex;
  align-items: center;
  font-weight: 600 !important;
  font-size: 18px !important;
  color: #000000;
  font-family: "Inter", serif;

}
.close-icon{
    cursor: pointer;
}
.input-group {
  display: flex;
  justify-content: center;
}
.input-group-label {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
}
.input-group-input {
  width: 70%;
  height: 40px ;
}
.input-group-input .inline-input{
    height: 60px !important;
    align-items: center !important;
}
.custom-modal-header .icon-class
.input-group-input .ant-input-password {
  height: 40px ;
}
.input-group-input .ant-input {
  height: 40px;
}
.input-group-btn button {
  height: 40px;
}
.input-group-btn {
  width: 30%;
  height: 40px ;
}
.input-group-btn button {
  width: 100%;
}

.ant-upload-text {
  text-align: center;
}
.ant-upload-text {
  margin-bottom: 10px;
}
.upload-group {
  margin-bottom: 10px;
}
.ant-modal-content{
    padding: 0px !important;
}
.account-modal-upload-group {
  margin-bottom: 10px;
  display: flex;
}
.ant-modal-content{
    border-radius: 15px !important;
}
.ant-modal-body{
    border-radius: 15px !important;
}
.custom-modal-option{
    padding: 10px 15px !important;
    
}
.custom-modal-option:hover{
    background-color: #e9e9e9;
    cursor: pointer;
}
.custom-modal-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 15px 20px;
    border-bottom: 1px solid #e6eaed;
}
.custom-modal-content{
    padding: 0px;
    max-height: 500px;
    overflow-y: auto;
    scrollbar-width: none;

}
.no-info-to-show{
    font-weight: 500;
    height: 150px;
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: center;
}
.no-info-to-show img{
    margin-right: 10px;
}
.custom-modal-options{
    padding: 0px 15px;
    font-family: "Inter", serif !important; 
}
.ant-modal-footer
{
    margin: 0px !important;
}
.modal-content{
    padding: 20px;
}


.account-modal-img {
  width: 100px;
  border-radius: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
}
.account-modal-dragger {
  flex: 1;
}
.inline-input-agency{
height: 40px;
border-radius: 4px 0px 0px 4px !important;
}
.inline-input-agency .ant-input{
    margin-bottom: 0px;
    height: 30px !important;
}
.inline-input-agency-btn{
    border-radius: 0px 4px 4px 0px !important;
    height: 40px;
}
.inline-input-btn {
  border-radius: 0px 8px 8px 0px;
  height: 60px !important;
}
.inline-input {
  border-radius: 8px 0px 0px 8px;
  /* height: 40px !important; */
}
.inline-input .ant-input{
    margin-bottom: 0px !important;

}
.form-item {
  margin-bottom: 14px !important;
}
.form-item label {
  /* margin-top: 14px !important; */
  font-weight: 600 !important;
}
.form-item .ant-form-item-label {
  padding: 0px;
  color: black !important;
}
.add-funnel-step{
    height: 40px;
}
.form-item input::placeholder {
    font-weight: 500 
  }
  .form-item input{
    height: 50px
  }
  .form-item textarea{
    height: 100px 
  }
  .modal-description{
    font-weight: 500;
    color: #101136;
  }
.modal-field {
  display: flex;
  align-items: center;
  margin-bottom: 10px !important;
}
.select-placeholder{
    color: #101136;
    font-weight: 500;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    font-size: 16px;
}
.select-placeholder img{
    margin-right: 10px;
}
.modal-collapse .ant-collapse-header-text, .modal-field-input-label{
    color: #101136;
    font-weight: 500;
}
.ant-select-selection-search-input::placeholder{
    color: #101136 !important;
    font-weight: 500 !important;
    font-size: 16px !important;
}
.ant-select-selection-search-input, .ant-select-selection-search{
    display: flex;
    align-items: center;
}
.ant-select-selection-search-input::placeholder{
    font-size: 16px !important;
}
.ant-select-selection-item{
    font-size: 16px !important;
    font-weight: 500 !important;
}
.ant-form {
  margin-bottom: 10px !important;
}
.modal-field-input-label label {
  margin-bottom: 0px;
}
.modal-field-input {
  display: flex;
  align-items: center;
}
.modal-field-pre-fix {
  padding: 6.5px 16px;
  border: 1px solid #e6eaed;
  border-radius: 8px 0px 0px 8px;
  font-size: 16px;
  height: 40px;
  font-weight: 500;
  border-right: none;
}
.modal-field-with-prefix {
  border: 1px solid #e6eaed;
  height: 40px;
  border-radius: 0px 8px 8px 0px;
  margin-bottom: 0px !important;
}
.modal-field-post-fix {
  padding: 6.5px 16px;
  border: 1px solid #e6eaed;
  border-radius: 0px 8px 8px 0px;
  font-size: 16px;
  height: 40px;
  font-weight: 500;
  margin-bottom: 0px !important;
  border-left: none;
}
.modal-panel-header{
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 500;
    color: #101136 !important;
}
.modal-panel-header img{
    margin-right: 10px;
}
.modal-field-with-post-fix {
  border: 1px solid #e6eaed;
  border-radius: 8px 0px 0px 8px;
  margin-bottom: 0px !important;
}
.modal-field-without-prefix {
  border: 1px solid #e6eaed;
  border-radius: 8px 0px 0px 8px;
  margin-bottom: 0px !important;
  height: 40px;
}
.modal-field-label-block {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  font-family: "Inter", serif !important;

}
.modal-select-item{
    font-size: 16px !important;
}
.modal-scrollable{
    /* padding-top: 0px !important; */
}

.modal-field-with-prefix::placeholder , .modal-field-without-prefix::placeholder{
    font-weight: 500;
    color: #101136;
}
.ant-input {
  margin-bottom: 20px;
  font-family: "Inter", serif !important;
}
.ant-input::placeholder {
    font-weight: 500 !important; 
    color: black !important;
  font-family: "Inter", serif !important;
  }
.ant-select-selector,
.ant-select {
  height:60px !important;
  border-radius: 8px !important;
}
.ant-select-selector{
    
  padding: 0px 20px !important;
}
.ant-select {
  margin-bottom: 10px;
}
/* .ant-collapse-item {
    border: 1px solid #e6eaed !important;
    border-radius: 8px !important;
    padding-bottom: 10px !important;

}
.ant-collapse-header{
    border: none !important;
    border-radius: 0px !important;
}
.ant-collapse-header:hover{
    border: none !important;
    border-radius: 0px !important;
}
.ant-collapse-content{
    padding: 0px 10px !important;
    border-top: 1px solid #e6eaed !important;
} */
.robo-marketer-collapse {
  margin-bottom: 10px;
  font-weight: 500;
}
.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 0px !important;
  border-top: 1px solid #e6eaed;
  padding: 15px;
  
}
.modal-actions button {
    width: 100%;
    padding: 0px 10px;
    height: 52px;
    border: none;
  }
  .modal-actions .btn-1 {
      width: 49% !important;
      height: 52px !important;
  }
  .modal-actions .btn-2 {
      width: 49% !important;
      height: 52px !important;
  
  }
  .modal-actions .btn-2 button:hover{
      background-color: rgb(39, 39, 39) !important;
  }
  
  .modal-actions .btn-1 button:hover{
      background-color: rgb(255, 222, 222) !important;
      color:red !important;
  }
  
.ant-radio-group {
  width: 100% !important;
  margin-bottom: 20px !important;
  display: flex;
  align-items: center;
}
.ant-radio-button-wrapper {
  width: 50% !important;
  text-align: center !important;
  height: 40px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
/* .ant-radio-button-checked{
    background-color: black !important;
}*/
.ant-radio-button-wrapper-checked {
  color: white !important;
  background-color: black !important;
  font-weight: 400;
}
.modal-panel-header {
  display: flex;
  align-items: center;
  font-weight: 500;
}
.ant-collapse {
  margin-bottom: 10px;
  background-color: transparent !important;
}
.ant-collapse-header {
  background-color: transparent !important;
}

.product-modal-header {
    color: #000000 !important;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  justify-content: space-between;
}
.product-modal-header  span{
    display: flex;
    align-items: center;
}
.product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 12px 12px 12px;
  border: 1px solid #e6eaed;
  border-radius: 8px;
  margin-bottom: 10px;
  font-weight: 500;
}
.product-name {
  font-size: 16px;
  color: #101136 !important;
}
.modal-radio-selector{
    display: flex;
    align-items: center;
}
.modal-radio-selector img{
    margin-right: 10px;
}
.ant-radio-group{
    margin-bottom: 0px !important;
}
.product-actions .edit-icon,
.product-actions .delete-icon {
  margin-left: 8px;
  cursor: pointer;
}

.add-product-btn {
  background-color: #ffffff;
  color: #101136;
  border: none;
  margin-right: 20px;
  border: 1px solid #e6eaed;
  font-weight: 500;
}

.funnel-modal-header {
  display: flex;
  align-items: center;
  font-weight: 500;
  justify-content: space-between;
}

.modal-header img
{
    margin-right: 5px;
}
.funnel-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border: 1px solid #e6eaed;
  border-radius: 8px;
  margin-bottom: 10px;
  font-weight: 500;
}
.funnel-name {
  font-size: 16px;
}

.funnel-actions .edit-icon,
.funnel-actions .delete-icon {
  margin-left: 8px;
  cursor: pointer;
}
.funnel-actions {
  cursor: pointer;
}

.add-funnel-btn {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  margin-right: 20px;
  border: 1px solid #e6eaed;
  font-weight: 500;
}

.inline-input input {
    height: 30px !important;
  }
  .fb-integration-modal-description{
    color: #101136;
    font-weight: 500;
  }
  .fb-integration-modal-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #e6eaed;
    border-radius: 8px;
    padding: 10px;
  }
  .fb-integration-modal-name{
    color: #101136;
    font-weight: 500;
    display: flex;
    align-items: center;
  }
  .fb-integration-modal-btn button{
    border: 1px solid red;
    border-radius: 8px;
    padding: 8px 12px;
    font-weight: 500;
    background-color: rgb(255, 234, 234);
    color: red;
    display: flex;
    align-items: center;
  }
  .fb-integration-modal-name img {
    margin-right: 10px;
  }
  .fb-integration-modal-btn button img{
    margin-right: 10px;
  }