
.awa-heading-main{
padding: 25px;
display: flex;
align-items: center;
justify-content: space-between;
border-bottom: 1px solid #e6eaed;
}
.awa-heading{
    display: flex;
    align-items: center; 
    font-weight: 600;
    font-size: 18px;
}
.awa-heading img{
    margin-right: 10px;
}
.awa-heading-btns{
    border: 1px solid #e6eaed;
    background-color: white;
    height: 48px;
    padding: 9px 20px ;
    border-radius: 8px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 500;
}   
.awa-heading-btns-create{
    border: 1px solid #000000;
    background-color: rgb(0, 0, 0);
    height: 48px;
    padding: 9px 20px ;
    border-radius: 8px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 500;
    color: white;
} 
.awa-heading-btn-count{
    border: none;
    border-radius: 20px;
    padding: 0px 5px;
    min-width: 20px;
    margin-left: 10px;
}
.awa-sub-accounts-main{
    padding:25px;
    height: calc(100vh - 98.8px);
    overflow-y: auto;
    scrollbar-width: none;
}

@media screen and (max-width: 768px){
    .awa-heading-btns{
        margin-top: 10px;
        width: 100%;
    }
    
}