body {
    margin: 0;
    /* font-family: "Poppins", sans-serif !important;*/
    
    font-family: "Inter", serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* font-family: "Inter", serif; */
code {
    font-family: "Inter", serif !important;
}
*{
    
    font-family: "Inter", serif !important;
}