#banners .banner-inner {
  height: 46px;
  border-radius: 50px;
  border: 1px solid #e6eaed;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 20px;
  margin-bottom: 10px;
}
#banners .text {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 500;
}
#banners .text img {
  margin-right: 10px;
}
#banners .facebook_btn {
  background-color: #1877f2;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
  font-weight: 500;
}
#banners .integrate_btn {
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
  font-weight: 500;
}

@media screen and (max-width: 660px) {
  #banners .banner-inner {
    height: 66px;
  }
  #banners .banner-inner button {
    width: 170px !important;
    font-size: 12px;
  }
  #banners .text {
    font-size: 12px;
    width: 250px;
  }
}

@media screen and (max-width: 430px) {
    #banners .banner-inner {
      height:100px;
      display:block;
      border-radius: 8px;
    }
    #banners .banner-inner button {
      width: 100% !important;
      font-size: 14px;
    }
    #banners .text {
      font-size: 14px;
      width: 100%;
      margin-bottom: 10px;

    }
  }