/* Container for the chat */
.chat-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 70px;
  /* justify-content: end; */
  /* max-width: 600px; */
  /* margin: auto; */
  background-color: #ffffff; /* Dark background */
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  width: 100%;
}
.feedback-text{
    font-size: 14px;
}
/* Chat message container for individual messages */
.chat-message-container {
  margin-bottom: 20px;
}

/* User's message styling */
.user-message {
  display: flex;
  flex-direction: column; /* Ensure files are stacked above the message */
  justify-content: flex-end;
  align-items: end;
  padding: 10px;
}

.message {
  margin-top: 10px; /* Space between file and message */
}

.user-message .user-message-div {
  background-color: #f8f8f8; /* Dark grey */
  color: black;
  padding: 10px;
  border-radius: 8px;
  max-width: 75%;
  font-size: 16px;
  word-wrap: break-word;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
}
.user-message .user-message-div p {
  margin-bottom: 0px;
}
/* Bot's response styling */
.bot-response {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  /* padding: 10px; */
}

.response-content {
  display: flex;
  align-items: center;
  background-color: #f8f8f8; /* Lighter grey */
  color: black;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  max-width: 75%;
  word-wrap: break-word;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
}

.bot-response-content {
  display: flex;
  align-items: center;
  background-color: #ffffff; /* Lighter grey */
  color: black;
  font-size: 16px;
  padding: 10px;
  border-radius: 8px;
  max-width: 100%;
  word-wrap: break-word;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
}
/* Bot's icon styling */
.response-icon {
  color: #00bcd4; /* Blue color for the bot icon */
  font-size: 18px;
  margin-right: 0px;
}
.robot-icon-wrapper {
  border: 1px solid #e6eaed;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-right: 10px;
}

/* Text inside the response bubble */
.response-text {
  flex-grow: 1;
}
.response-text p,
.response-text h1 {
  margin-bottom: 0px;
}

/* Optional Spinner */
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media screen and (max-width: 1200px) {
  /* Container for the chat */
  /* .chat-container {
          height: calc(100vh - 125px);
        }
         */
}

@media screen and (max-width: 500px) {
  /* Container for the chat */
  .chat-container {
    padding: 10px;
    height: calc(100vh - 70px);
  }
  .response-icon {
    color: #00bcd4; /* Blue color for the bot icon */
    font-size: 14px;
    margin-right: 0px;
  }
  .robot-icon-wrapper {
    height: 30px;
    width: 30px;
  }
  .response-content {
    font-size: 12px;
  }

  .bot-response-content {
    font-size: 12px;
  }
  .user-message .user-message-div {
    font-size: 12px;
  }
}

@keyframes animloader {
  0% {
    box-shadow: 6px -2px, 14px 2px, 22px 0px; /* Slightly increased horizontal distances */
  }
  25% {
    box-shadow: 6px 0px, 14px 0px, 22px 2px; /* Slightly increased horizontal distances */
  }
  50% {
    box-shadow: 6px 2px, 14px -2px, 22px 0px; /* Slightly increased horizontal distances */
  }
  75% {
    box-shadow: 6px 0px, 14px 0px, 22px -2px; /* Slightly increased horizontal distances */
  }
  100% {
    box-shadow: 6px -2px, 14px 2px, 22px 0px; /* Slightly increased horizontal distances */
  }
}

.chat-loader {
  width: 5px;
  height: 5px;
  display: inline-block;
  position: relative;
  border-radius: 4px;
  color: #434343;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}
.response-text-wrapper {
  overflow-x: auto;
  width: 100% !important;
}
.bot-response-content {
  width: 100%;
}
.response-text table {
  border-collapse: collapse;
  overflow-x: auto;
  width: 100%;
}

.response-text th,
.response-text td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.response-text th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.response-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  flex-wrap: wrap;
}
.flex {
  display: flex;
  align-items: center;
}
/* 
.feedback-btns {
  padding: 0px 16px;
  font-size: 14px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.like-dislike {
  background-color: white;
  border: none;
  border-left: 1px solid #ccc;
} */

.feedback-btns {
  display: flex;
  align-items: center;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  height: 40px;
}
.feedback-btns button{
    height: 40px;
  }
.like-dislike {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  background: none;
  border: none;
  cursor: pointer;
}

.like-dislike:first-of-type {
  border-left: 1px solid #ccc;
}

.like-dislike:last-of-type {
  border-left: 1px solid #ccc;
}
.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 600;
}

/* Dialog Box */
.dialog-box {
  background: white;
  padding: 20px 0;
  border-radius: 15px;
  max-width: 30rem;
  width: 100%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dialog-box textarea {
  width: 100%;
  margin-top: 10px;
  padding: 5px;
}

.close {
  border-radius: 100%;
  display: flex;
  align-items: center;
  border: none;
  padding: 5px;
}

.flex-1 {
  flex: 1 1 0%;
  justify-content: center;
  align-items: center;
}

.border-gray {
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  font-size: 16px;
}

.border-gray :focus-visible {
  border: 1px solid black;
}
.text-red-500 {
  color: red;
}

.load-more-container {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  margin-bottom: 10px;
}

.load-more-button {
  background-color: transparent;
  border: 1px solid #d9d9d9;
  color: #333;
  font-size: 14px;
  transition: all 0.3s;
}

.load-more-button:hover:not(:disabled) {
  background-color: #f5f5f5;
  border-color: #d9d9d9;
  color: #1890ff;
}

.load-more-button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.mention {
  color: #1890ff;
  cursor: pointer;
  position: relative;
}

/* .mention:hover::after {
  content: attr(data-prompt);
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
} */

.mention:hover::after {
  content: attr(data-prompt);
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 12px;
  margin-bottom: 20px;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  white-space: normal; 
  width: max-content; 
  max-width: 200px; 
  text-align: center;
  word-break: break-word; 
}
