/* Container for the chat */
.chat-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  /* justify-content: end; */
  /* max-width: 600px; */
  /* margin: auto; */
  background-color: #ffffff; /* Dark background */
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 160px);
  scrollbar-width: none;
  width: 100%;
}

/* Chat message container for individual messages */
.chat-message-container {
  margin-bottom: 20px;
}

/* User's message styling */
.user-message {
  display: flex;
  flex-direction: column; /* Ensure files are stacked above the message */
  justify-content: flex-end;
  align-items: end;
  padding: 10px;
}

.message {
  margin-top: 10px; /* Space between file and message */
}

.user-message .user-message-div {
  background-color: #f8f8f8; /* Dark grey */
  color: black;
  padding: 10px;
  border-radius: 8px;
  max-width: 75%;
  font-size: 16px;
  word-wrap: break-word;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
}
.user-message .user-message-div p {
  margin-bottom: 0px;
}
/* Bot's response styling */
.bot-response {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.response-content {
  display: flex;
  align-items: center;
  background-color: #f8f8f8; /* Lighter grey */
  color: black;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  max-width: 75%;
  word-wrap: break-word;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
}

.bot-response-content {
  display: flex;
  align-items: center;
  background-color: #ffffff; /* Lighter grey */
  color: black;
  font-size: 16px;
  padding: 10px;
  border-radius: 8px;
  max-width: 90%;
  word-wrap: break-word;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
}
/* Bot's icon styling */
.response-icon {
  color: #00bcd4; /* Blue color for the bot icon */
  font-size: 18px;
  margin-right: 0px;
}
.robot-icon-wrapper {
  border: 1px solid #e6eaed;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-right: 10px;
}

/* Text inside the response bubble */
.response-text {
  flex-grow: 1;
}
.response-text p,
.response-text h1 {
  margin-bottom: 0px;
}

/* Optional Spinner */
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media screen and (max-width: 1200px) {
  /* Container for the chat */
  /* .chat-container {
          height: calc(100vh - 125px);
        }
         */
}

@media screen and (max-width: 500px) {
  /* Container for the chat */
  .chat-container {
    padding: 0px;
    height: calc(100vh - 70px);
  }
  .response-icon {
    color: #00bcd4; /* Blue color for the bot icon */
    font-size: 14px;
    margin-right: 0px;
  }
  .robot-icon-wrapper {
    height: 30px;
    width: 30px;
  }
  .response-content {
    font-size: 12px;
  }

  .bot-response-content {
    font-size: 12px;
  }
  .user-message .user-message-div {
    font-size: 12px;
  }
}

@keyframes animloader {
  0% {
    box-shadow: 6px -2px, 14px 2px, 22px 0px; /* Slightly increased horizontal distances */
  }
  25% {
    box-shadow: 6px 0px, 14px 0px, 22px 2px; /* Slightly increased horizontal distances */
  }
  50% {
    box-shadow: 6px 2px, 14px -2px, 22px 0px; /* Slightly increased horizontal distances */
  }
  75% {
    box-shadow: 6px 0px, 14px 0px, 22px -2px; /* Slightly increased horizontal distances */
  }
  100% {
    box-shadow: 6px -2px, 14px 2px, 22px 0px; /* Slightly increased horizontal distances */
  }
}

.chat-loader {
  width: 5px;
  height: 5px;
  display: inline-block;
  position: relative;
  border-radius: 4px;
  color: #434343;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}
.response-text-wrapper {
  overflow-x: auto;
  width: 100% !important;
}
.bot-response-content {
  width: 100%;
}
.response-text table {
  border-collapse: collapse;
  overflow-x: auto;
  width: 100%;
}

.response-text th,
.response-text td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.response-text th {
  background-color: #f4f4f4;
  font-weight: bold;
}
