.back-to-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  z-index: 100;
}
.back-icon {
  cursor: pointer;
  background-color: white;
  border-radius: 100%;
}

.dashboard-chat-panel-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 0px;
  overflow-y: auto;
}
.chat-icon-wrapper {
  border: 1px solid #e6eaed;
  border-radius: 8px;
  height: 48px !important;
  width: 48px !important;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.account-setup-component-main {
  display: flex;
  position: absolute;
  background-color: white;
  width: 100% !important;
  padding: 30px;
  /* align-items: center; */
}

.dashboard-chat-panel-main-message-bar {
  padding: 0px 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .account-setup-component-main {
    top: 60px;
    /* align-items: center; */
    padding: 30px 20px 30px 10px;
  }
}
@media screen and (max-width: 550px) {
  .account-setup-component-main {
    top: 60px;
    /* align-items: center; */
    padding: 30px 20px 30px 10px;
  }
}
@media screen and (max-width: 500px) {
  /* Container for the chat */

  .dashboard-chat-panel-main-message-bar {
    padding: 0px 10px;
  }
}

