.message-arrow-up{
background-color: black;
/* padding: 7px; */
border-radius: 50%;
margin: 0px 15px;
height: 35px;
width: 35px;
cursor: pointer;
}
.message-bar-plus{
    border-radius: 50%;
    padding: 5px;
    margin: 0px 5px 0px 10px;
    cursor: pointer;
}
.message-bar-input{
    height: 40px;
    margin-bottom: 0px;
    border: none !important;
    width: 100%;
    outline: none;
    font-size: 14px;
    font-family: "Inter", serif;
}
.message-bar-input::placeholder{
    
    font-weight: 500;
}
.message-bar{
    background-color: white;
    padding: 9px 0px;
    border-radius: 8px;
    filter: drop-shadow(1px 3px 3px rgba(0, 0, 0, 0.262));
    margin-bottom: 25px;
    display: flex;
    bottom: 0;
}
.disabled-icon {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .message-bar-input
  .message-bar .ant-input{
    background-color: white !important;
    /* border: none !important; */
  }
  .file-preview-container{
    display: flex;
    align-items: center;
  }
  .file-preview-container-badge-icon{
    font-size: 10px;
    color: red;
    cursor: pointer;
    position: relative;
    left: 10px;
    top: 5px !important;
  }
  .file-preview-container-badge{
    margin-left: 0px;
    cursor: pointer;
  }
  @media screen and (max-width:500px){/* Container for the chat */
    .message-bar{
        margin-bottom: 10px;
    }
      }